.backend
{
    padding: 0 3rem 0 3rem;
    display: flex;
    height: 90vh;
    margin-top: 4rem;
}
.b-right
{
    position: relative;
}
.b-mainCircle
{
    left: 9rem;
    position: relative;
    width: 18rem;
    height: 18rem;
    border-radius:100%;
    box-shadow: var(--smboxShadow);
    top: 2rem;
    background: white;
}
.b-mainCircle>*
{
    position: absolute;
}
.b-mainCircle>:nth-child(1)
{
    top: -3rem;
    left: 6rem;
}
.b-mainCircle>:nth-child(2)
{
    left: -1rem;
    top: 11rem;
}
.b-mainCircle>:nth-child(3)
{
    left: 13rem;
    top: 11rem;
}
.b-mainCircle>:nth-child(4)
{
    left: 6rem;
    top: 6rem;
}

.b-secCircle
{
    width: 6rem;
    height: 6rem;
    position: absolute;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #ebebeb;
    background: none;
    box-shadow: var(--smboxShadow);
    background: white;
}
.b-secCircle>img
{
    transform: scale(0.6);
}
.b-backCircle
{
    position: absolute;
    z-index: -1;
    width: 13rem;
    height: 13rem;
    border-radius: 100%;
}
.greenCircle
{
    background: green;
    left: 18rem;
    top: 0rem;
}
.blueCircle
{
    background: navy;
    left: 18rem;
    top: 8rem;
}

@media screen and (max-width: 480px) 
{
    .backend
    {
        flex-direction: column;
        height: 55rem;
        gap: 5rem;
        padding: 0;
    }
    .b-right
    {
        display: flex;
        justify-content: start;
        align-items:flex-start ;
        transform: scale(0.7);
    }
    .b-mainCircle
    {
        position: static;
    }
    .b-backCircle
    {
        left: 8rem !important;
    }
    .b-mainCircle>:nth-child(3)
{
    left: 11rem;
    top: 11rem;
}
    .b-mainCircle>:nth-child(4)
{
    left: 5rem;
    top: 6rem;
}

}